.dp-Section {
  display: block;
}

.dp-SectionTitle {
  color: var(--gray-500);
  font-size: var(--h2);
}

.dp-AppBody.dp-Section {
  padding-top: 1em;
}

.dp---is-hidden.dp-AppBody {
  height: 0;
  opacity: 0;
}
