@keyframes placeholderLoading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.dp-AppPlaceholder {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
/**
  for some reasons animation delay is overwritten and the computed value is reported as 0 :(
 */
.dp-AppPlaceholder--animationDelay200 { animation-delay: 100ms; }
.dp-AppPlaceholder--animationDelay400 { animation-delay: 200ms; }
.dp-AppPlaceholder--animationDelay600 { animation-delay: 300ms; }
.dp-AppPlaceholder--animationDelay800 { animation-delay: 400ms; }

.dp-AppPlaceholder__line {
  width: 15px;
  height: 25px;
  background-color: var(--blue);
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
  animation: placeholderLoading 500ms infinite ease-in-out;
}
