.dp-AppTabs {
  display: block;
  position: relative;
}

.dp-ButtonTabs * {
  cursor: pointer;
}

.dp-ButtonTabs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 39px;

  height: 39px;

  justify-content: center;
  position: relative;
  width: 39px;

  &.dp---is-classic {

    &::after {
      background-color: var(--blue);
      bottom: -2px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      right: auto;
      transition: width var(--animation-speed);
      width: 0;
      z-index: 1;
    }

    &.dp---is-selected,
    &:hover {

      &::after {
        transition: width var(--animation-speed);
        width: 100%;
      }
    }

    &.dp---is-selected,
    &:hover {
      background-color: var(--bg-app-panel-hover);
      cursor: pointer;
      transition: all var(--animation-speed);
    }
  }

  &.dp---is-pulse {

    .dp-ButtonsImg {
      opacity: 1;
      transition: opacity var(--animation-speed);
    }

    &.dp---is-selected .dp-ButtonsImg,
    &:hover .dp-ButtonsImg {
      opacity: 0.6;
      transition: opacity var(--animation-speed);
    }
  }

}

.dp-ButtonTabs .dp-Icon {
  height: 20px;
  width: 20px;
}

.dp-ButtonTabs .dp-IconBadge {
  position: absolute;
  right: 6px;
  top: 6px;
}

.dp-ButtonsImg {
  height: 20px;
  max-width: 100%;
}

.dp-ButtonTabs--wrap {
  display: flex;
}

.dp-AppTabs .dp-AppTabs--control {

  &::before,
  &::after {
    background-color: #828494;
  }
}

.dp-AppTabs.is-horizontal .dp-ButtonTabs--wrap {
  overflow-y: hidden;
  padding-bottom: 2px;
  padding-right: 39px;
  position: relative;

  &::after {
    background-color: var(--border-color-light);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

.dp-AppTabs.is-horizontal .dp-AppTabs--control {
  background-color: var(--bg-app-panel);
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    background-color: var(--bg-app-panel-hover);
  }
}

.dp-AppTabs.is-vertical .dp-ButtonTabs--wrap {
  flex-direction: column;
}

.dp-AppTabs.is-vertical .dp-ButtonTabs {
  border-bottom: 1px solid var(--gray-200);
  height: calc(39px - 1px);
}

.dp-AppTabs.is-vertical .dp-ButtonTabs--wrap .dp-ButtonTabs:last-child {
  border-bottom: none;
  height: 39px;
}

.dp-AppTabs.is-vertical .dp-IconBadge {
  right: 0;
  top: 3px;
}
