.dp-DataTable {
  border-collapse: separate;
  border-spacing: var(--card-border) var(--card-border);
  display: table;
  width: 100%;
}

table tr.dp-DataTableRow {
  background-color: #fff;

  &:hover {
    background-color: #f0f4f6;
  }
}

.dp-DataTableRow * {
  cursor: pointer;
}

.dp-DataTable td {
  display: table-cell;
  font-size: var(--h4);
}

.dp-DataTable tr,
.dp-DataTable td {
  border: none;
  vertical-align: middle;
}
