.dp-DataDefList {
  display: block;
}

.dp-DataDefListKey {
  color: var(--gray-500);
  display: block;
  font-size: var(--h4);
  padding-top: 10px;
}

.dp-DataDefListValue {
  display: block;
  font-size: var(--h3);
  padding-top: 1px;
}
