.dp-Notification {

  padding: 8px;
  display: block;
  margin-bottom: 1em;

& .dp-Content {
    display: block;
  }
}

.dp-Notification + .dp-Notification {
  margin-bottom: 1em;
}

.dp-Notification--isSuccess {
  background: var(--color-success);
  color: var(--text-light);

  & .dp-Content,
  & .dp-Content * {
    color: var(--text-light);
  }

  &:hover {
     background: color-mod(var(--color-success) blackness(20%));
  }
}

.dp-Notification--isInfo {
  background: var(--color-info);
  color: var(--text-light);

  & .dp-Content,
  & .dp-Content * {
      color: var(--text-light);
    }

  &:hover {
     background: color-mod(var(--color-info) blackness(20%));
   }
}

.dp-Notification--isWarning {
  background: var(--color-warning);
  color: var(--text-dark);

  & .dp-Content,
  & .dp-Content * {
      color: var(--text-dark);
    }

  &:hover {
     background: color-mod(var(--color-warning) blackness(20%));
   }
}

.dp-Notification--isError {
   background: var(--color-danger);
   color: var(--text-light);

  & .dp-Content,
  & .dp-Content * {
      color: var(--text-light);
    }

  &:hover {
     background: color-mod(var(--color-danger) blackness(20%));
  }
}

.dp-Notification--isSuccess .dp-Notification--Close .dp-IconCloseFatty,
.dp-Notification--isInfo .dp-Notification--Close .dp-IconCloseFatty,
.dp-Notification--isError .dp-Notification--Close .dp-IconCloseFatty
{
  background-image: svg-load("../svg/close-bold.svg", fill=var(--text-light));
}

.dp-Notification--isWarning .dp-Notification--Close .dp-IconCloseFatty
{
  background-image: svg-load("../svg/close-bold.svg", fill=var(--text-dark));
}
