.dp-Panel {
  border: 0 solid var(--border-color-light);
  border-top-width: 1px;
  display: block;
  margin: 0 -4px;
  padding: 5px 8px 5px 11px;
}

.dp-Panel--borderless {
  border: 0;
  border-radius: 0;
}

.dp-PanelHeader {
  display: block;
  margin-bottom: calc(2 * var(--card-border) - 1px);
}

.dp-PanelHeaderTitle {
  color: var(--gray-500);
  font-size: var(--h2);
}

.dp-AppBody > .dp-Panel {
  margin-top: 1em;
}

.dp-AppBody > .dp-Panel:first-child {
  margin-top: 0;
}

